@import "./mytheme.rasi"

* {
  font: "Noto Sans 10";
}

window {
  location: north west;
  x-offset: 10px;
  y-offset: 10px;
  width: 140px;
  height: 160px;
  border-radius: 10px;
  padding: 10px 20px;
}

mainbox {
  children: [listview];
}
