* {
  font-family: "ProFont IIx Nerd Font Mono";
  font-size: 13px;
}

window#waybar {
  background: #000000;
  color: #ffffff;
}

window#waybar,
.modules-left,
.modules-center,
.modules-right {
  border-bottom: 1px solid #202020;
}

#custom-power,
.modules-right {
  background: #000A30;
}

#custom-power {
  min-width: 42px;
}

#custom-power,
#custom-audio,
#custom-network {
  font-size: 18px;
}

#custom-audio {
  padding-left: 18px;
  padding-right: 10px;
}

#custom-network {
  padding-right: 18px;
  padding-left: 10px;
}
